<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.grubmate.grubmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- change mode prevent activity to spawn -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".adapters.FeedAdapter$FeedDetailActivity" />
        <activity
            android:name=".PostActionActivity"
            android:label="Post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubscribeActionActivity"
            android:label="@string/title_activity_subscribe_action"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB6PhYrMZ87grlmTAu42-G32N7PKAb0Bs4" />

        <activity
            android:name=".SearchActivity"
            android:label="Search" />
        <activity
            android:name=".activities.ProfileActivity"
            android:label="Profile"
            android:launchMode="singleTop" />
        <activity
            android:name=".SubscriptionDetailActivity"
            android:label="Item Detail" />

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true"
            android:label="NotificationService" />

        <activity
            android:name=".LoginActivity"
            android:label="Login">

             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN" />-->
             <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--</intent-filter>-->

        </activity>
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".GroupSettingsActivity"></activity>
        <activity android:name=".TestActivity"></activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>